/* Custom Styles ============================================================ */

body {
    background-color: #000;
}

#logo {
    height: 100px;
}

#carousel {
    height: 500px;
    /*overflow: hidden;*/
}

.z-1000 {
	z-index: 1000;
}
